<!-- main -->
<div>
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <!-- Page Wrapper -->
    <div class="main-wrapper">
        <!-- Sidebar -->
        <app-sidebar></app-sidebar>

        <!-- main wrapper -->
        <main class="main-content-wrapper">
            <section class="container">
                <!-- row -->
                <div class="row mb-8">
                    <div class="col-md-12">
                        <!-- card -->
                        <div class="card bg-light border-0 rounded-4"
                            style="background-image: url(../assets/images/slider/slider-image-1.jpg); background-repeat: no-repeat; background-size: cover; background-position: right;">
                            <div class="card-body p-lg-12">
                                <h1>BudgetBasket Dashboard
                                </h1>
                                <p>We help you save more. Welcome to your dashboard.</p>
                                <a href="./store" class="btn btn-primary">
                                    Go to store
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- order section -->
                <div class="row ">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-6">
                        <div class=" position-relative h-100">
                            <button (click)="sendNotification()">Send Notification</button>
                            <!-- card -->
                            <div class="card card-lg mb-6">
                                <!-- card body -->
                                <a href="#">
                                    <div (click)="addManualOrder()" class="card-body px-6 py-8">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <!-- svg -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                    fill="currentColor" class="bi bi-bell text-warning"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                                                </svg>
                                            </div>
                                            <!-- text -->
                                            <div class="ms-4">
                                                <h5 class="mb-1">Add manual product</h5>
                                                <p class="mb-0">Setup notifications for a product bought</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-6">
                        <div class=" position-relative h-100">
                            <!-- card -->
                            <div class="card card-lg">
                                <!-- card body -->
                                <a href="#">
                                    <div (click)="goToBillScanner()" class="card-body px-6 py-8">
                                        <div class="d-flex align-items-center">
                                            <!-- svg -->
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                    fill="currentColor" class="bi bi-lightbulb text-success"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z" />
                                                </svg>
                                            </div>
                                            <!-- text -->
                                            <div class="ms-4">
                                                <h5 class="mb-1">Scan a bill</h5>
                                                <p class="mb-0"> <a class="link-info" href="#!">Scan a bill from
                                                        store</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row ">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-6">
                        <div class="card h-100 card-lg">
                            <!-- heading -->
                            <div class="p-6">
                                <h3 class="mb-0 fs-5">Recent Orders</h3>
                            </div>
                            <div class="card-body p-0">
                                <!-- table -->
                                <div class="table-responsive">
                                    <table class="table table-centered table-borderless text-nowrap table-hover">
                                        <thead class="bg-light">
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Product Category</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Purchase Date</th>
                                                <th scope="col">Expiry Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let order of userOrders">
                                                <td>{{order.productName}}</td>
                                                <td>{{order.productCategory}}</td>
                                                <td>${{order.productPrice}}</td>
                                                <td>{{order.purchaseDate| date:'MM-dd-yyyy'}}</td>
                                                <td>{{order.expiryDate| date:'MM-dd-yyyy'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>