<!-- navbar vertical -->

<nav class="navbar-vertical-nav d-none d-xl-block ">
    <div class="navbar-vertical">
        <div class="px-4 py-5">
            <a href="../index.html" class="navbar-brand">
                <img src="../assets/images/logo/freshcart-logo.svg" alt="">
            </a>
        </div>
        <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
            <ul class="navbar-nav flex-column" id="sideNavbar">

                <li class="nav-item ">
                    <a class="nav-link  active " href="./dashboard">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-house"></i></span>
                            <span class="nav-link-text">Dashboard</span>
                        </div>
                    </a>
                </li>
                
                <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Other features</span> <span
                        class="badge bg-light-info text-dark-info">Coming Soon</span>
                </li>
                <li class="nav-item ">
                    <a class="nav-link disabled" href="#!">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-newspaper"></i></span>
                            <span class="nav-link-text">Recipies</span>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
    <div class="navbar-vertical">
        <div class="px-4 py-5 d-flex justify-content-between align-items-center">
            <a href="../index.html" class="navbar-brand">
                <img src="../assets/images/logo/freshcart-logo.svg" alt="">
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
            <ul class="navbar-nav flex-column">
                <li class="nav-item ">
                    <a class="nav-link  active " href="./dashboard">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-house"></i></span>
                            <span class="nav-link-text">Dashboard</span>
                        </div>
                    </a>
                </li>
                
                <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Other features</span> <span
                        class="badge bg-light-info text-dark-info">Coming Soon</span>
                </li>
                <li class="nav-item ">
                    <a class="nav-link disabled" href="#!">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-newspaper"></i></span>
                            <span class="nav-link-text">Recipies</span>
                        </div>
                    </a>
                </li>

                <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Support</span> <span
                        class="badge bg-light-info text-dark-info">Coming Soon</span>
                </li>
                <li class="nav-item ">
                    <a class="nav-link disabled" href="#!">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-headphones"></i></span>
                            <span class="nav-link-text">Support Ticket</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link disabled" href="#">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-question-circle"></i></span>
                            <span class="nav-link-text">Help Center</span>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>

</nav>