<!-- Navbar -->
<app-navbar></app-navbar>

<main>
    <div class="mt-4 ">
        <div class="container">
            <!-- row -->
            <div class="row ">
                <!-- col -->
                <div class="col-12">
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item"><a href="./store">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{storeName}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <section class="mt-8 mb-lg-14 mb-8">
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-lg-12">
                    <!-- page header -->
                    <div class="card mb-4 bg-light border-0">
                        <!-- card body -->
                        <div class="card-body p-9">
                            <!-- title -->
                            <h2 class="mb-0 fs-1">{{storeName}}</h2>
                        </div>
                    </div>
                    <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3 mt-2">

                        <!-- col -->
                        <div class="col-md-4" *ngFor="let product of storeData">
                            <!-- card product -->
                            <div class="card card-product">
                                <div class="card-body">
                                    <div class="text-center position-relative"> <a href="#">
                                            <!-- img --><img [src]="'../assets/images/stores-logo/stores-logo-'+(product.productId%9=== 0 ? 9 : product.productId%9)+'.svg'"
                                                alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                    </div>
                                    <!-- heading -->
                                    <div class="text-small mb-1"><a href="#!"
                                            class="text-decoration-none text-muted"><small>Bakery &
                                                Biscuits</small></a></div>
                                    <h2 class="fs-6"><a href="#"
                                            class="text-inherit text-decoration-none">{{product.productDescription}}</a>
                                    </h2>
                                    <!-- price -->
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div><span class="text-dark">${{product.productPrice}}</span>
                                        </div>
                                        <!-- btn -->
                                        <div><a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg> Add</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>