<!-- Navigation -->
<app-navbar></app-navbar>

<!-- Main section -->
<main>
    <!-- section -->

    <section class="my-lg-14 my-8">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                    <!-- img -->
                    <img src="assets/images/svg-graphics/signup-g.svg" alt="" class="img-fluid">
                </div>
                <!-- col -->
                <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
                    <div class="mb-lg-9 mb-5">
                        <h1 class="mb-1 h2 fw-bold">Get Start Shopping</h1>
                        <p>Welcome to BudgetBasket! Enter your email to get started.</p>
                    </div>
                    <!-- form -->
                    <form>
                        <div class="row g-3">
                            <!-- col -->
                            <div class="col">
                                <!-- input -->
                                <input type="text" class="form-control" placeholder="First name"
                                    aria-label="First name" required [(ngModel)]="userFirstName" name="userFirstName">
                            </div>
                            <div class="col">
                                <!-- input --><input type="text" class="form-control" placeholder="Last name"
                                    aria-label="Last name" required [(ngModel)]="userLastName" name="userLastName">
                            </div>
                            <div class="col-12">
                                <!-- input --><input type="text" class="form-control" placeholder="Phone Number"
                                    aria-label="Phone Number" required [(ngModel)]="phoneNumber" name="phoneNumber">
                            </div>
                            <div class="col-12">
                                <!-- input --><input type="text" class="form-control" placeholder="Address Line 1"
                                    aria-label="Address Line 1" required [(ngModel)]="addressLine1" name="addressLine1">
                            </div>
                            <div class="col-12">
                                <!-- input --><input type="text" class="form-control" placeholder="Address Line 2"
                                    aria-label="Address Line 2" required [(ngModel)]="addressLine2" name="addressLine2">
                            </div>
                            <div class="col-12">
                                <!-- input --><input type="text" class="form-control" placeholder="City"
                                    aria-label="City" required [(ngModel)]="addressCity" name="addressCity">
                            </div>
                            <div class="col-12">
                                <!-- input --><input type="text" class="form-control" placeholder="Postal Code"
                                    aria-label="Postal Code" required [(ngModel)]="addressPostalCode" name="addressPostalCode">
                            </div>
                            <div class="col-12">
                                <!-- input --><input type="text" class="form-control" placeholder="Country"
                                    aria-label="Country" required [(ngModel)]="addressCountry" name="addressCountry">
                            </div>
                            <div class="col-12">
                                <!-- input --><input type="email" class="form-control" id="inputEmail4"
                                    placeholder="Email" required [(ngModel)]="userEmail" name="userEmail" validate="regexValidations.emailValidation" ngModel>
                            </div>
                            <div class="col-12">

                                <div class="password-field position-relative">
                                    <input type="password" id="fakePassword" placeholder="Enter Password"
                                        class="form-control" required [(ngModel)]="userPassword" name="userPassword">
                                    <span><i id="passwordToggler" class="bi bi-eye-slash"></i></span>
                                </div>
                            </div>
                            <!-- btn -->
                            <div class="col-12 d-grid">
                              <button type="submit" class="btn btn-primary" (click)="handleSignUp()">Register</button>
<!--                              <button class="btn btn-success" type="submit" [disabled]="!signupForm.valid">Submit</button>-->
                            </div>

                            <!-- text -->
                            <p><small>By continuing, you agree to our <a href="#!"> Terms of Service</a> & <a
                                        href="#!">Privacy
                                        Policy</a></small></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </section>
</main>

<!-- Custom JS -->
<script src="assets/js/vendors/password.js"></script>
