<router-outlet></router-outlet>

<!-- Footer -->
<app-footer></app-footer>

<!-- Javascript-->
<!-- Libs JS -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>

<!-- Theme JS -->
<script src="../assets/js/theme.min.js"></script>
<script src="../assets/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="../assets/js/vendors/countdown.js"></script>
<script src="../assets/libs/slick-carousel/slick/slick.min.js"></script>
<script src="../assets/js/vendors/slick-slider.js"></script>
<script src="../assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../assets/js/vendors/tns-slider.js"></script>
<script src="../assets/js/vendors/zoom.js"></script>
<script src="../assets/js/vendors/increment-value.js"></script>