<div class="border-bottom ">

    <div class="py-4 pt-lg-3 pb-lg-0">
        <div class="container">
            <div class="row w-100 align-items-center gx-lg-2 gx-0">
                <div class="col-xxl-2 col-lg-3">
                    <a class="navbar-brand d-none d-lg-block" href="#">
                        <img src="../assets/images/logo/freshcart-logo.svg" alt="BudgetBasket">
                    </a>
                    <div class="d-flex justify-content-between w-100 d-lg-none">
                        <a class="navbar-brand" href="#">
                            <img src="../assets/images/logo/freshcart-logo.svg" alt="BudgetBasket">
                        </a>

                        <div class="d-flex align-items-center lh-1">

                            <div class="list-inline me-4">
                                <div class="list-inline-item">
                                    <ul class="list-unstyled d-flex align-items-center mb-0 ms-5 ms-lg-0">
                                        <li class="dropdown ms-4">
                                            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img src="../assets/images/avatar/avatar-1.jpg" alt=""
                                                    class="avatar avatar-md rounded-circle">
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end p-0">
                                                <div class="lh-1 px-5 py-4 border-bottom">
                                                    <h5 class="mb-1 h6">{{myAuthUser.firstName}} {{myAuthUser.lastName}}
                                                    </h5>
                                                    <small>{{myAuthUser.email}}</small>
                                                </div>

                                                <ul class="list-unstyled px-2 py-3">
                                                    <li>
                                                        <a class="dropdown-item" href="../">
                                                            Home
                                                        </a>
                                                    </li>
                                                    <!-- <li>
                                                        <a class="dropdown-item" href="#!">
                                                            Profile
                                                        </a>
                                                    </li> -->
                                                    <li>
                                                        <a class="dropdown-item" href="../dashboard">
                                                            Dashboard
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="border-top px-5 py-3">
                                                    <a (click)="logOut()" href="#">Log Out</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Button -->
                            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                    class="bi bi-text-indent-left text-primary" viewBox="0 0 16 16">
                                    <path
                                        d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </button>

                        </div>
                    </div>

                </div>
                <div class="col-xxl-6 col-lg-5 d-none d-lg-block">

                    <form (ngSubmit)="searchInputKeyword()">
                        <div class="input-group ">
                            <input class="form-control rounded" type="search" placeholder="Search for products"
                                name="searchKey" [(ngModel)]="searchKeyword">
                            <span class="input-group-append">
                                <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
                                    type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </button>
                            </span>
                        </div>

                    </form>
                </div>
                <div class="col-md-4 text-end d-none d-lg-block">
                    <div class="list-inline">
                        <div class="list-inline-item">
                            <ul class="list-unstyled d-flex align-items-center mb-0 ms-5 ms-lg-0">
                                <li class="dropdown ms-4">
                                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="../assets/images/avatar/avatar-1.jpg" alt=""
                                            class="avatar avatar-md rounded-circle">
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end p-0">
                                        <div class="lh-1 px-5 py-4 border-bottom">
                                            <h5 class="mb-1 h6">{{myAuthUser.firstName}} {{myAuthUser.lastName}}</h5>
                                            <small>{{myAuthUser.email}}</small>
                                        </div>

                                        <ul class="list-unstyled px-2 py-3">
                                            <li>
                                                <a class="dropdown-item" href="../">
                                                    Home
                                                </a>
                                            </li>
                                            <!-- <li>
                                                <a class="dropdown-item" href="#!">
                                                    Profile
                                                </a>
                                            </li> -->
                                            <li>
                                                <a class="dropdown-item" href="../dashboard">
                                                    Dashboard
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="border-top px-5 py-3">
                                            <a (click)="logOut()" href="#">Log Out</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 py-lg-4">
        <div class="container px-0 px-md-3">
            <div class="dropdown me-3 d-none d-lg-block">
                <button class="btn btn-primary px-6 " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-grid">
                            <rect x="3" y="3" width="7" height="7"></rect>
                            <rect x="14" y="3" width="7" height="7"></rect>
                            <rect x="14" y="14" width="7" height="7"></rect>
                            <rect x="3" y="14" width="7" height="7"></rect>
                        </svg></span> All Stores
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" (click)="navigateToStore('Kroger')" href="#">Kroger</a></li>
                    <li><a class="dropdown-item" (click)="navigateToStore('Aide')" href="#">Aide</a></li>
                    <li><a class="dropdown-item" (click)="navigateToStore('Trader Joe\'s')" href="#">Trader Joe's</a></li>
                </ul>
            </div>
            <div class="offcanvas offcanvas-start p-4 p-lg-0" id="navbar-default">
                <div class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none">
                    <a href="#"><img src="../assets/images/logo/freshcart-logo.svg" alt="BudgetBasket"></a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="d-block d-lg-none my-4">
                    <form (ngSubmit)="searchInputKeyword()">
                        <div class="input-group ">
                            <input class="form-control rounded" type="search" placeholder="Search for products"
                                name="searchKey" [(ngModel)]="searchKeyword">
                            <span class="input-group-append">
                                <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
                                    type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="d-block d-lg-none mb-4">
                    <a class="btn btn-primary w-100 d-flex justify-content-center align-items-center"
                        data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                        aria-controls="collapseExample">
                        <span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                                <rect x="3" y="3" width="7" height="7"></rect>
                                <rect x="14" y="3" width="7" height="7"></rect>
                                <rect x="14" y="14" width="7" height="7"></rect>
                                <rect x="3" y="14" width="7" height="7"></rect>
                            </svg></span> All Stores
                    </a>
                    <div class="collapse mt-2" id="collapseExample">
                        <div class="card card-body">
                            <ul class="mb-0 list-unstyled">
                                <li><a class="dropdown-item" (click)="navigateToStore('Kroger')" href="#">Kroger</a>
                                </li>
                                <li><a class="dropdown-item" (click)="navigateToStore('Aide')" href="#">Aide</a>
                                </li>
                                <li><a class="dropdown-item" (click)="navigateToStore('Trader Joe\'s')" href="#">Trader Joe's</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </nav>
</div>